<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Consola en texto plano -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level [%X{traceId}] %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <!-- Archivo en texto plano -->
    <appender name="PLAIN_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/user-service.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- Un archivo por día -->
            <fileNamePattern>logs/user-service.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level [%X{traceId}] %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <!-- Archivo en JSON -->
    <appender name="JSON_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/user-service-json.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/user-service-json.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>

    <!-- Nivel global -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>    <!-- consola -->
        <appender-ref ref="PLAIN_FILE"/> <!-- archivo plano -->
        <appender-ref ref="JSON_FILE"/>  <!-- archivo JSON -->
    </root>

    <!-- Más detalle solo para tu microservicio -->
    <logger name="com.imperialnet.user_service" level="DEBUG"/>

</configuration>
